.Main {
    display: table;
    width: 100%;
    height: 100%;
}

.Main--layout {
    display: table-cell;
    vertical-align: middle;
}

.Main--canvas {
    width: 1000px;
    height: 600px;
    margin: 0 auto;

    background-color: hsv(0, 0, 0.2);
}
